<section class="">
  <div class="">
    <h3>{{project.name}}</h3>
    <h2>{{{get_emoji project}}}</h2>
    <p>{{project.description}}</p>
    <h6>Created by {{project.user.name}} on </h6>
    <h6>💲{{project.needed_funding}} needed</h6>
    <a href="/login" class="btn">Fund this Project!</a>
  </div>
</section>

